@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600;1,700&display=swap');

html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.board{
    display: grid;
    background-color: #000;
    width: 100%;
    height: 100vh;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template: repeat(29, 1fr)/repeat(29, 1fr) ;
}

.board .food {
    background-image: url(../assets/food.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.board .player {
    background-image: url(../assets/player.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}


.score {
    position: relative;
    text-align: center;
    background-color: #fff;
}
.showScore {
    color: #fff;
    text-align: center;
}

.level {
    text-align: center;
    background-color: #fff;
}

.showLevel{
    color: #fff;
    text-align: center;
}

#name {
    opacity: 0;
    visibility: visible;
    z-index: 0;
    position: absolute;
    top: 10%;
    left: 3%;
    color: #fff;
    font-family: 'Poppins';
}

#about {
    color: #fff;
    opacity: 0;
    visibility: visible;
    z-index: 0;
    position: absolute;
    top: 15%;
    left: 3%;
    font-family: 'Poppins';
}

#skils {
    color: #fff;
    opacity: 0;
    visibility: visible;
    z-index: 0;
    position: absolute;
    top: 20%;
    left: 3%;
    font-family: 'Poppins';
}

.html {
    color: #E44D26;
}

.css {
    color: #264DE4;
}

.js {
    color: #F7DF1E;
}

#profile {
    color: #fff;
    opacity: 0;
    visibility: visible;
    z-index: 0;
    position: absolute;
    top: 25%;
    left: 3%;
    font-family: 'Poppins';
}

#profile a {
    text-decoration: none;
}

